.giftItem {
  background-color: var(--theme-100);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  min-height: 2rem;
  display: flex;
  flex-flow: row-reverse nowrap;
}

.mainContent {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

.button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 16px;
  background-color: var(--theme-400);
  color: #fff;
}

.bonusInfo > * {
  margin-right: 12px;
}

.header {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
}

.header h2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header h2 svg {
  margin-left: 4px;
}
